<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:theme="@style/AppCompatTheme"
        android:label="@string/app_name"
        tools:targetApi="s">
        <activity
            android:name=".PermissionActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".QRScannerActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".VoteDownloadActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".VoteReceivedActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:noHistory="true"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".ErrorActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".NetworkErrorActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".VersionErrorActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".DecryptionActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:noHistory="true"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
